*{
 padding : 0;
 font-size: 60px;
}

h1 {
  text-align:center;
}

body{
  background-color: #ADD8E6;
}

table{
  color: blue;
  text-align: center;
  margin : 0 auto;
  background-color: #000010;
  font-size: 75px;
}

table tr td{
    width: 90px;
    height : 100px;
    color: blue;
    border: 1px solid black;
}

/* targeting alternate boxes and making them white */
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd)
{
  background-color: white;
}
