*{
 padding : 0;
 font-size: 60px;
}
  body{
  background-color: orange;
}
table{
  color: red;
  text-align: center;
  margin : 0 auto;
  background-color: #000010;
  font-size: 75px;
}
table tr td{
    width: 90px;
    height : 100px;
    color: red;
    border: 1px solid black;
}
table tr td : hover{
  cursor: pointer;
}

/*
 blue pink yellow green red purple orange white disco
*/


tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd){
  background-color: white;
  font
}
